{% extends "base.html" %} {% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><a href=""></a></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item"><a href="" class="page-link">Previous</a></li>

    <li class="page-item active">
      <a class="page-link" href="" aria-current="page"></a>
    </li>

    <li class="disabled"><a class="page-link" href="javascript:void(0)">...</a></li>

    <li class="page-item"><a class="page-link" href="">Next</a></li>
  </ul>
</nav>
{% endblock %}
